.logo {
    height: 80px;
    width: 170px;
}

.profile_pic {
    height: 250px;
    width: 250px;
}

.gal_pics {
    height: 550px;
    width: 550px;
}
.card_images {
    height: 450px;
    width: 650px;
}
.social {
    height: 50px;
    width: 50px;
}