<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Branding and Logo</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/branding.css') }}">
</head>

<body>
    <div class="container-fluid">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a href="/"><img class="navbar-brand logo" src="{{ url_for('static', filename='img/Itzel.png') }}" alt="itzellogo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/gallery">Gallery <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/stickers">Stickers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/branding">Branding/Logo</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav mr">
                        <li class="nav-item justify-content-end">
                            <a class="nav-link" href="/shoppingcart">Shopping Cart( )</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="jumbotron">
            <h1 class="display-2">Branding</h1>
        </div>
        <div class="contianer-fluid row">
            <div class="container-fluid col-lg-5">
                <h3 class="display-4">Submit a Request</h3>
                <form action="/requestSub" , method="post">
                    <div class="form-group">
                        <label for="formGroupExampleInput">First Name</label>
                        <input type="text" class="form-control" name="first_name">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Last Name:</label>
                        <input type="text" class="form-control" name="last_name">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Email</label>
                        <input type="text" class="form-control" name="email">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Phone</label>
                        <input type="text" class="form-control" name="phone">
                    </div>
                    <div class="form-group">
                        <select class="custom-select">
                            <option selected>Preferred Contact Method</option>
                            <option value="email">Email</option>
                            <option value="phone">Phone</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Brief Description of Your Request:</label>
                        <textarea class="form-control" name="request_discription" cols="30" rows="10" placeholder="(optional)"></textarea>
                    </div>
                    <div class="form-group d-flex justify-content-end">
                        <button class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
            <div class="container-fluid col-lg-7">
                <img class="big_img img-fluid shadow" src="{{ url_for('static', filename='img/IMG_4884.jpg') }}" alt="desk">
            </div>
        </div>
    </div>
</body>

</html>