<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/display.css') }}">
    <title>Your Choice</title>
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
            <a href="/"><img class="navbar-brand logo" src="{{ url_for('static', filename='img/Itzel.png') }}" alt="itzellogo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/gallery">Gallery <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/stickers">Stickers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/branding">Branding/Logo</a>
                    </li>
                </ul>
                <ul class="navbar-nav mr">
                    <li class="nav-item justify-content-end">
                        <a class="nav-link" href="/shoppingcart">Shopping Cart( )</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="jumbotron">
            <div class="container-fluid row">
                <div class="container col-lg-6">
                    <img class="itemImg img-fluid" src="{{ url_for('static', filename='img/IMG_7359.JPG') }}" alt="img">
                </div>
                <div class="container col-lg-6">
                    <div class="container">
                        <h1 class="display-4">He added the mustache...</h1>
                        <p class="lead">Price: </p>
                        <hr>
                        <form action="#">
                            <label>Select One</label>
                            <select class="custom-select">
                                <option selected></option>
                                <option value="sm_rounded">Small rounded sticker ($5.00)</option>
                                <option value="rectan_sm">Rectangular - 3 1/2"x 2 1/2" ($10.00)</option>
                                <option value="rectan_lg">Rectangular 7"x6" ($20.00)</option>
                            </select>
                            <hr>
                            <button class="form-control btn btn-primary">Add to cart</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>