<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/recconfirmation.css') }}">
    <title>Request Confirmation</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Your Order has been submitted!</h1>
            <p class="lead">Thank you for your purchase. I will proccess your order soon, and will be sending email updates. In the mean time, feel free to continue browsing my Gallery for some of my past projects.</p>
            <a class="btn btn-primary" href="/gallery">Go to Gallery</a>

        </div>
    </div>
</body>
</html>